.container {
  width: 100%;
}

.handler {
  position: relative;
  overflow: hidden;
  height: 0;
  border-radius: 12px;
  padding-bottom: 56.25%;
  background-color: rgba(23, 23, 23, 0.59);

  @media (max-width: 768px) {
    width: 100%;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .ytplayer {
      pointer-events: none;
      position: absolute;
    }
  }
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(23, 23, 23, 0.59);
}

.buttonIcon {
  width: 20px;
  height: 20px;
}
