.container {
  width: 100%;
}

.handler {
  position: relative;
  overflow: hidden;
  height: 0;
  border-radius: 12px;
  padding-bottom: 56.25%;
  background-color: rgb(23 23 23 / 59%);

  @media (max-width: 768px) {
    width: 100%;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .ytplayer {
      pointer-events: none;
      position: absolute;
    }
  }
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(23 23 23 / 59%);

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(50% - 30px);

    &:hover .tooltip {
      opacity: 1;
    }
  }

  .tooltip {
    margin: 16px 16px 0;
    opacity: 0;
    color: #fff;
    transition: opacity ease-in-out 0.2s;
    text-shadow: 0 1px 0 rgb(33 45 69 / 25%);
    font-size: 16px;

    @media (--xs-scr) {
      margin: 8px 16px 0;
      font-size: 14px;
    }

    @media (--xxs-scr) {
      margin: 2px 16px 0;
    }

    a {
      @mixin focus;

      color: #fff;
    }
  }
}

.buttonIcon {
  width: 20px;
  height: 20px;
}
