.container {
  padding-top: 80px;
  padding-bottom: 57px;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  @media screen(smMax) {
    flex-direction: column;
  }

  @media screen(xsMax) {
    flex-direction: column-reverse;
  }
}

.videoContainer {
  display: flex;
  flex: 1 2 60%;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin-right: 10%;

  @media screen(smMax) {
    flex: auto;
    margin-bottom: 20px;
    margin-right: 0;
  }

  @media screen(xsMax) {
    margin: 0;
  }
}

.heading {
  @apply text-3xl font-medium my-4
    text-left sm:text-center;
  color: var(--color-gray-hover);
}

.cases {
  margin-top: 15px;
}

.useCase {
  margin-bottom: 18px;
}

.rightColumn {
  flex: 1 1 40%;

  @media screen(smMax) {
    flex: auto;
  }
}

.caseHeader {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.caseIcon {
  margin-right: 8px;
}

.caseTitle {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-gray-hover);
}

.caseDescription {
  padding-top: 15px;
  font-size: 16px;
  color: var(--color-gray-dark);
}
