.container {
  position: sticky;
  top: var(--layout-header-height-collapsed);
  flex-shrink: 0;
  box-sizing: border-box;
  width: 170px;
  height: calc(100vh - 78px);
  padding-top: 57px;
  font-size: 16px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.contentBlock {
  overflow-y: scroll;
  margin-bottom: 27px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7e7e7e;
  }
}

.separator {
  border: none;
  border-top: 1px solid var(--color-lighter-blue);
}

.header {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-black);
}

.headingLink {
  position: relative;
  display: block;
  min-height: 26px;
  margin-bottom: 3px;
  color: #a0a8a5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;

  &.current {
    color: #000;
  }

  &:hover {
    color: #3c3937;
  }
}

.buttonsBlock {
  margin-bottom: 20px;
  flex-shrink: 0;
}

.buttonSection {
  & + & {
    margin-top: 15px;
  }
}

.buttonSectionIcon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

.buttonSectionDescription {
  color: var(--color-black);
}

.button {
  width: 100%;
  margin: 10px 0;

  &.tutorials {
    white-space: nowrap;
  }
}

.githubIcon {
  background-image: url(/img/github_icon.svg);
}

.discordIcon {
  width: 1.2em;
  height: 1.2em;
  background-image: url(/img/discord.svg);
}
