.hiddenScrollbar {
  overflow-y: hidden;
}

.wrapper {
  display: none;
  visibility: hidden;
  padding: 12px 16px;
  position: fixed;
  z-index: 11;
  transform: translateX(100%);
  transition: transform 0.4s ease, visibility 0.4s;
  will-change: transform;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-hover);
  color: #fff;
  overflow-y: auto;

  @media (--xs-scr) {
    display: block;
  }

  &.opened {
    visibility: visible;
    transform: translateX(0);

    a:focus {
      outline-color: #fff;
    }
  }
}

.toggleButton {
  @mixin hover;

  position: fixed;
  display: none;
  visibility: hidden;
  z-index: 999;
  right: 16px;
  top: 12px;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  transition: 0.5s all, opacity 0.2s, outline-offset 0s, outline-width 0s,
    outline-color 0s;

  &:hover {
    cursor: pointer;
  }

  &.opened {
    outline-color: #fff;
  }

  &.expanded {
    top: 47px;
  }

  @media (--xs-scr) {
    display: flex;
    visibility: visible;
  }
}

.logoRow {
  display: flex;
}

.logo {
  @mixin hover;
  @mixin active;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus path {
    fill: var(--color-orange);
  }
}

.company {
  @mixin active;
  @mixin hover;

  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  background: linear-gradient(
    270deg,
    var(--color-purple) 0%,
    var(--color-orange-bright) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-right: auto;
  padding: 10px 0;
  margin-left: 12px;

  &:focus {
    opacity: 0.7;
  }

  .companyName {
    font-weight: 800;
  }
}

.sections,
.subSections {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section + .section {
  border-top: 1px solid #4d465a;
}

.sectionHeading {
  display: block;
  padding: 15px 0;
  font-family: var(--font-brandon);
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

a.sectionHeading {
  @mixin hover;
  @mixin active;
  @mixin focus;
}

.subSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 15px;
}

.subSection {
  width: calc((100% - 45px) / 4);

  & + & {
    margin-left: 15px;
  }

  &:nth-child(n + 5) {
    margin-top: 15px;
  }

  &:nth-child(4n + 1) {
    margin-left: 0;
  }
}

.subSectionLink {
  @mixin hover;
  @mixin active;

  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  &:focus {
    opacity: 0.7;
  }
}

.subSectionLinkImage {
  display: block;
  margin: 0 auto 5px;
  color: #fff;
  height: 40px;
  width: 40px;
}

.subSectionLinkTitle {
  margin: 0 -30px;
  color: #fff;
  opacity: 0.5;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
}

.linkButton {
  @mixin active;

  display: block;
  margin-top: 15px;
  height: 38px;
  border-radius: 4px;
  background-color: #fff;
  font-family: var(--font-brandon);
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  color: #24292e;
  transition: background-color 0.2s ease-in, opacity 0.2s ease-in;

  &:hover {
    cursor: pointer;
    background-color: rgb(255 255 255 / 70%);
  }

  &:focus {
    background-color: var(--color-orange);
    color: #fff;
  }
}
