.meta {
  margin-top: 10px;
}

.image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.imageWrapper {
  display: block;
  margin: -10px -20px 0;
}

.eventsPlaceholder {
  composes: gray from '../styles.module.css';
  text-align: center;
  margin: auto;
  font-size: 1rem;

  @media screen and (min-width: 480px) {
    font-size: 1.25rem;
  }
}
