.cmlIcon {
  background-image: url('../../../../static/img/cml_icon-color--square_vector.svg');
}

.dvcIcon {
  background-image: url('../../../../static/img/dvc_icon-color--square_vector.svg');
}

.studioIcon {
  background-image: url('../../../../static/img/studio_icon-color--square_vector.svg');
}

.vscodeIcon {
  background-image: url('../../../../static/img/vscode-icon.svg');
}

.datachainIcon {
  background-image: url('../../../../static/img/logos/datachain.svg');
}

.other {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
}
