.mainLayout {
  font-weight: 400 !important;
  background-color: #fff;
}

.skipLink {
  color: var(--color-orange);
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: rgb(46 41 51 / 8%) 0 2px 4px, rgb(71 63 79 / 16%) 0 4px 8px;

  &:focus {
    z-index: 12;
    top: 8px;
    left: 1rem;
  }
}
