:global {
  .bodySmoothScrolling {
    scroll-behavior: smooth;
    will-change: scroll-position;
  }

  .noScroll {
    overflow-y: hidden;
  }
}

.layout {
  padding-top: var(--header-height);

  @media (--xs-scr) {
    padding-top: var(--header-height-scrolled);
  }
}

.modalRoot {
  position: fixed;
  z-index: 100000;
}
