.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.title {
  @media screen(mdMax) {
    @mixin h1-mobile;
  }

  @media screen(lg) {
    @mixin h1-desktop;
  }
}

.content {
  @media screen(mdMax) {
    @mixin text-mobile;

    padding: 0 15px;
    text-align: center;
  }

  @media screen(lg) {
    @mixin text-desktop;
  }
}
