# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

defaults: &defaults
  working_directory: ~/repo
  docker:
    # specify the version you desire here
    - image: circleci/node:10.16.3

    # Specify service dependencies here if necessary
    # CircleCI maintains a library of pre-built images
    # documented at https://circleci.com/docs/2.0/circleci-images/
    # - image: circleci/mongo:3.4.4

commands:
  install:
    steps:
      - checkout

      # CircleCI breaks master branch which affects format check below
      # https://discuss.circleci.com/t/checkout-script-adds-commits-to-master-from-circle-branch/14194
      - run:
          name: restore master
          command: |
            git checkout master
            git reset --hard origin/master
            git checkout -

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

  cache:
    steps:
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
jobs:
  test:
    <<: *defaults
    steps:
      - install
      - run: yarn
      - run: yarn build
      - run: yarn test
      - run: yarn format-check
      - run: yarn lint-check
      - run: yarn link-check-diff
      - cache

  test_full:
    <<: *defaults
    steps:
      - install
      - run: yarn
      - run: yarn build
      - run: yarn test
      - run: yarn format-check
      - run: yarn lint-check
      - run: yarn link-check
      - cache

workflows:
  version: 2

  commit:
    jobs:
      - test

  daily:
    triggers:
      - schedule:
          cron: '0 0 * * *'
          filters:
            branches:
              only:
                - master
    jobs:
      - test_full
