.container {
  padding: 40px 0 0;
}

.link {
  display: block;

  &:hover {
    opacity: 0.7;
  }
}

.pictureContainer {
  display: flex;
  align-items: center;
}

.picture {
  max-width: 100%;
  width: 100%;
}
