.searchResult {
  box-sizing: border-box;
  display: none;
  margin-top: 4px;
  width: 100%;
  padding: 20px 8px 0 20px;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 100%;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 20%), 0 2px 3px 0 rgb(0 0 0 / 10%);
  border: 1px solid var(--color-lighter-blue);
  border-radius: 5px;
  background: white;

  mark {
    background: var(--color-light-blue);
  }
}

.searchResultShow {
  display: block;
}

.searchResultContent {
  padding-right: 4px;
  max-height: 650px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.searchResultContent::-webkit-scrollbar {
  width: 4px;
}

.searchResultContent::-webkit-scrollbar-thumb {
  /* background-color: #92a0c466; */
  background-color: var(--color-lighter-blue);
  border-radius: 10px;
}

.searchResultContent::-webkit-scrollbar-track {
  background-color: transparent;
}

.searchResultHeader {
  margin-bottom: 15px;

  h3 {
    font-weight: 600;
  }
}

.result {
  display: flex;
  justify-content: space-between;
}

.hitCount {
  display: flex;
  justify-content: flex-end;
}

.hits {
  ul {
    list-style: none;
    margin-left: 0;
  }

  li {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 2px;
    margin-bottom: 4px;
    border-bottom: 1px solid var(--color-lighter-blue);

    a {
      padding: 15px;
      box-sizing: border-box;
      width: 100%;
      background: white;

      &:hover {
        background: hsl(220deg 41% 10% / 5%);
        cursor: pointer;
      }

      &:focus {
        outline-offset: 0;
      }

      color: var(--color-black);
      text-decoration: none;

      h4 {
        margin-bottom: 4px;
      }

      p {
        color: var(--color-gray);
        font-weight: 400;
      }
    }
  }
}

.noResult {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(28 30 33 / 60%);
  font-weight: 600;
  font-size: 0.9em;
}

.aisPoweredBy {
  display: flex;
  justify-content: flex-end;

  span {
    margin-right: 5px;
  }

  svg {
    width: 70px;
  }
}
