.wrapper {
  display: inline-block;
  cursor: pointer;

  &.opened {
    transform: translateX(-4px);
  }
}

.line {
  width: 22px;
  height: 4px;
  background-color: #2e3137;
  border-radius: 10px;
  margin: 5px 0;
  transition: 0.4s;

  .opened & {
    background-color: var(--color-gray-light);
    border-radius: 20px;
    width: 27px;
    height: 3px;

    &.first {
      transform: rotate(-45deg) translateY(6px);
    }

    &.second {
      transform: rotate(45deg) translateY(-6px);
    }
  }
}
