@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#markdown-root {
  font-family: Roboto, ui-sans-serif, system-ui, sans-serif;

  .markdown-body {
    font-family: inherit;
    font-size: 16px;
    color: #2c3e50;

    .Collapsible__trigger {
      font-family: inherit;
      font-size: 14px;
    }
  }
}
