.container {
  display: flex;
  flex-direction: row;
  z-index: 2;

  @media (--xs-scr) {
    padding: 0 15px;
  }

  &::before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    pointer-events: none;
    background-color: var(--color-light-blue);

    @media (--xs-scr) {
      display: none;
    }
  }
}

.backdrop {
  display: none;

  @media (--xs-scr) {
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s linear;

    &.opened {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 1;
      pointer-events: all;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.side {
  flex-shrink: 0;
  width: 280px;
  background-color: var(--color-light-blue);

  @media (--xs-scr) {
    position: fixed;
    display: block;
    z-index: 2;
    top: 78px;
    bottom: 0;
    left: 0;
    right: 60px;
    box-shadow: rgba(0, 0, 0, 0.14) 0 0 4px, rgba(0, 0, 0, 0.28) 0 4px 8px;
    transform: translateX(-110%);
    transition: transform 0.35s ease;

    &.opened {
      transform: translateX(0);
    }
  }
}

.sideToggle {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 8px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;

  &.opened {
    transform: translateX(calc(100vw - 60px));
  }

  @media (--xs-scr) {
    display: flex;

    > * {
      transform: scale(0.75);
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  max-width: calc(100% - 280px);
  background-color: #fff;

  @media (--xs-scr) {
    max-width: 100%;
  }
}
