.wrapper {
  position: relative;
  margin: 0 auto;
  padding-bottom: 60px;

  @media (--sm-scr) {
    margin-bottom: -40px;
    padding-bottom: 80px;
  }

  @media (--md-scr) {
    max-width: 768px;
  }

  @media (--xl-scr) {
    padding-bottom: 0;
  }
}

.head {
  @media (--lg-scr) {
    padding-bottom: 20px;
    background: var(--color-light-blue);
  }
}

.headContent {
  position: relative;

  @media (--md-scr) {
    padding: 0 15px 0;
  }

  @media (--lg-scr) {
    max-width: 700px;
    margin: 0 auto;
  }
}

.title {
  margin: 0;
  padding: 30px 0 0;

  @media (--md-scr) {
    @mixin h1-mobile;
  }

  @media (--lg-scr) {
    @mixin h1-desktop;
  }
}

.description {
  @media (--md-scr) {
    @mixin text-mobile;

    margin: 30px 0 5px;
  }

  @media (--lg-scr) {
    @mixin text-desktop;

    margin: 30px 0 20px;
  }

  & p {
    margin: 0;

    + p {
      margin-top: 10px;
    }
  }

  & a {
    color: var(--color-black);
  }

  & code {
    font-family: monospace;
    font-size: 0.75em;
    padding: 0.2em 0.3em;
    border-radius: 3px;
    background-color: rgba(27, 31, 35, 0.05);
  }
}

.share {
  position: absolute;
  z-index: 1;
  display: flex;
  bottom: -5px;
  left: 50%;
  margin-left: 205px;
  justify-content: center;

  &.fixed {
    position: fixed;
    bottom: 5px;
  }

  @media (--sm-scr) {
    left: auto;
    right: 10px;
    bottom: 5px;
    margin-left: auto;
  }

  @media (--xl-scr) {
    flex-direction: column;
    width: 60px;
    margin-left: 525px;

    &.fixed {
      bottom: 15px;
    }
  }
}

.content {
  @media (--md-scr) {
    margin: 0 15px 0;
    padding: 30px 0 0;
  }

  @media (--lg-scr) {
    max-width: 700px;
    margin: 0 auto 0;
    padding: 40px 0 0;
  }
}

.tags {
  box-sizing: border-box;
  margin-bottom: -10px;
  padding-right: 60px;

  @media (--md-scr) {
    margin: 30px 15px -10px;
  }

  @media (--sm-scr) {
    padding-right: 0;
  }

  @media (--lg-scr) {
    max-width: 700px;
    margin: 30px auto -10px;
  }
}

.tag {
  @mixin text-secondary;

  display: inline-block;
  text-decoration: none;
  margin: 0 10px 10px 0;
  padding: 1px 9px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  font-weight: 700;
  color: var(--color-gray);

  &:hover,
  &:focus {
    color: var(--color-gray-hover);
    border: 1px solid var(--color-gray-hover);
  }
}

.comments {
  display: flex;
  align-items: center;

  @media (--md-scr) {
    margin: 30px 15px 0;
  }

  @media (--lg-scr) {
    max-width: 700px;
    margin: 40px auto 0;
  }
}

.count {
  margin-left: 40px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-gray);

  &:hover {
    opacity: 0.7;
  }
}

:global {
  .gatsby-resp-image-wrapper {
    &.image-wrap-left,
    &.image-wrap-right {
      width: 100%; /* max-width deals with the rest */
      margin: 0 25px 25px;
    }

    &.image-wrap-left {
      float: left;
      margin-left: 0;
    }

    &.image-wrap-right {
      float: right;
      margin-right: 0;
    }
  }

  .image-wrap-stop {
    clear: both;
    margin-bottom: -25px; /* compensate for margin-bottom of image */
  }
}
