.form {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #fff;
  display: flex;

  @media (--xs-scr) {
    flex-direction: column;
  }
}

.input {
  font-family: var(--font-brandon);
  display: flex;
  flex: 1;
  padding: 16px;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 20px;
  font-weight: 500;

  &:focus {
    background: var(--color-light-blue);
  }

  @media (--xs-scr) {
    border-radius: 4px 4px 0 0;
  }
}

.button {
  font-family: var(--font-brandon);
  width: 115px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #e4fbff;
  font-size: 20px;
  font-weight: 500;
  color: #13adc7;
  cursor: pointer;

  &:hover {
    background-color: #daf1f5;
  }

  @media (--xs-scr) {
    min-height: 60px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    justify-content: center;
  }
}
