.wrapper {
  margin: 12rem auto;
  text-align: center;

  @media screen(mdMax) {
    margin: 10rem auto;
  }

  @media screen(smMax) {
    margin: 6rem auto;
  }
}

.heading {
  font-size: 3rem;
  margin: 2rem 0;

  @media screen(smMax) {
    font-size: 2rem;
  }
}

.copy {
  font-size: 1.75rem;

  @media screen(smMax) {
    font-size: 1.1rem;
  }
}
