.linksList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.linkItem {
  position: relative;
  margin-left: 12px;

  &:first-of-type {
    margin: 0;
  }

  @media screen(xl) {
    &:last-child {
      display: none;
    }
  }

  &:nth-child(1),
  &:nth-child(4) {
    display: none;

    @media screen(xl) {
      display: initial;
    }
  }

  @media screen(mdMax) {
    margin-left: 0;

    &:nth-child(6) {
      display: none;
    }
  }

  @media screen(smMax) {
    &:nth-child(5) {
      display: none;
    }
  }
}

.link {
  @apply hover active focus;

  font-family: var(--font-base);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #353940;
  padding: 20px 10px;
  display: flex;
  align-items: flex-end;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &.open {
    opacity: 0.7;

    .arrowDownIcon {
      display: none;
    }

    .arrowUpIcon {
      display: inline-block;
    }
  }

  &.other {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;

    .arrowUpIcon,
    .arrowDownIcon {
      display: none;
    }
  }

  .linkIcon {
    width: 18px;
    height: 18px;
    margin-left: 4px;
  }

  .arrowUpIcon {
    display: none;
  }

  @media screen(mdMax) {
    font-size: 17px;
    line-height: 20px;

    .linkIcon {
      width: 16px;
      height: 16px;
    }
  }
}

button.link:focus {
  color: #353940;
}
