.container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11;

  &:hover {
    cursor: pointer;
  }

  &Open {
    height: 100%;
    width: 100%;
    background: rgb(132 142 148 / 50%);
  }
}

.button {
  @apply text-xl;

  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  left: 30px;
  bottom: 30px;
  z-index: 3;
  width: 154px;
  height: 62px;
  padding: 16px 24px;
  background: linear-gradient(
    102.58deg,
    #945dd6 22.89%,
    #17d5f5 24.16%,
    #945dd6 25.62%
  );
  background-size: 600% auto;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  font-family: var(--font-base);
  transition: all 0.25s ease-in-out;
  animation: gradient 2s 1 ease-in-out;

  @media screen(xsMax) {
    left: 15px;
    bottom: 15px;
    width: 113px;
    height: 45px;
    font-size: 16px;
    line-height: 15px;
  }

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    opacity: 0;
    border-radius: 99px;
    transition: opacity 0.2s ease-out;
    background: var(--color-purple-hover);
  }

  &:hover {
    cursor: pointer;
    box-shadow:
      0 4px 8px rgb(46 49 55 / 10%),
      0 0 2px rgb(46 49 55 / 20%);

    &::before {
      opacity: 1;
    }
  }

  &:focus {
    box-shadow: none;
  }

  &Exit {
    border-radius: 50%;
    padding: 14px;
    width: 64px;
    height: 64px;
    left: 18px;
    bottom: 18px;
    background: var(--color-gray-dark);
    box-shadow:
      0 1px 2px rgb(46 49 55 / 10%),
      0 0 1px rgb(46 49 55 / 50%);

    @media screen(xsMax) {
      width: 50px;
      height: 50px;
      bottom: 16px;
      left: calc(50vw - 32px);
    }

    &:hover {
      background: var(--color-gray-hover);
      box-shadow:
        0 4px 8px rgb(46 49 55 / 10%),
        0 0 2px rgb(46 49 55 / 20%);

      &::before {
        opacity: 0;
      }
    }

    &:focus {
      box-shadow: none;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: currentcolor;

      @media screen(xsMax) {
        width: 20px;
        height: 20px;
      }

      path {
        fill: currentcolor;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: center;
  }

  50% {
    background-position: right center;
  }
}

.modal {
  box-sizing: border-box;
  position: absolute;
  left: 50px;
  bottom: 50px;
  background: #fff;
  box-shadow:
    0 8px 16px rgb(46 49 55 / 10%),
    0 0 2px rgb(46 49 55 / 20%);
  width: 560px;
  border-radius: 16px;
  padding: 24px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;

  &:hover {
    cursor: initial;
  }

  @media screen(mdMax) {
    width: 520px;
  }

  @media screen(xsMax) {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 16px 16px 74px;
  }

  @media screen(xxsMax) {
    padding-top: 26px;
  }

  .title {
    @apply focus;

    display: flex;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 16px;
    text-decoration: none;
    color: var(--color-gray-hover);

    @media screen(xsMax) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 8px;
    }
  }

  .image {
    width: 100%;
  }

  .text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    color: var(--color-gray-dark);

    a {
      @apply focus;

      text-decoration: none;
      font-weight: bold;
      color: var(--color-purple);
    }

    @media screen(xsMax) {
      font-size: 16px;
      margin-top: 8px;
    }
  }
}

.buttonExit + .modal {
  opacity: 1;
  visibility: visible;
}
