.popup {
  display: none;
  visibility: hidden;
  padding: 8px;
  opacity: 0;
  position: absolute;
  left: 10px;
  top: calc(100% + 4px);
  z-index: 2;
  background-color: #fff;
  filter: drop-shadow(0 2px 8px rgb(0 0 0 / 15%));
  border-radius: 12px;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;

  &.visible {
    opacity: 1;
    display: grid;
    visibility: visible;
  }
}

.link {
  border-radius: 8px;
  color: #0f1624;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  transition: background-color 0.2s ease-in;

  &:hover,
  &:focus {
    background-color: rgb(15 22 36 / 5%);
  }
}

.cmlIcon {
  background-image: url('../../../../images/cml_icon-color--square_vector.svg');
}

.dvcIcon {
  background-image: url('../../../../images/dvc_icon-color--square_vector.svg');
}

.studioIcon {
  background-image: url('../../../../images/studio_icon-color--square_vector.svg');
}

.mlemIcon {
  background-image: url('../../../../images/mlem-icon.svg');
}

.communityPopup {
  row-gap: 4px;
  width: 260px;

  .link {
    padding: 6px 12px 4px;
  }
}

.otherToolsPopup {
  row-gap: 8px;
  width: 296px;

  .link {
    padding: 8px;
    display: grid;
    grid-template-areas: 'icon title' 'icon description';
    grid-template-columns: 32px 216px;
    column-gap: 16px;

    &:hover .titleIcon {
      opacity: 1;
    }

    .linkIcon {
      height: 32px;
      width: 32px;
      grid-area: icon;
      display: flex;
      align-items: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .title {
      grid-area: title;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      display: flex;
      align-items: center;
    }

    .titleIcon {
      opacity: 0;
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }

    .description {
      grid-area: description;
      color: rgb(15 22 36 / 50%);
      font-size: 16px;
      line-height: 20px;
    }
  }
}
