.wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;

  @media (--xs-scr) {
    display: none;
  }
}

.linksList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.linkItem {
  position: relative;
  margin-left: 4px;

  &:first-of-type {
    margin: 0;
  }

  @media (--xl-scr) {
    margin-left: 12px;
  }

  @media (--md-scr) {
    margin-left: 0;

    &:first-child {
      display: none;
    }
  }

  @media (--sm-scr) {
    margin-left: 4px;

    &:nth-child(5),
    &:nth-child(4) {
      display: none;
    }
  }
}

.link {
  @mixin active;
  @mixin hover;
  @mixin focus;

  font-family: var(--font-brandon);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #353940;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &.open {
    opacity: 0.7;

    .arrowDownIcon {
      display: none;
    }

    .arrowUpIcon {
      display: inline-block;
    }
  }

  .linkIcon {
    width: 18px;
    height: 18px;
    margin-left: 4px;
  }

  .arrowUpIcon {
    display: none;
  }

  @media (--md-scr) {
    font-size: 17px;
    line-height: 20px;

    .linkIcon {
      width: 16px;
      height: 16px;
    }
  }
}

button.link:focus {
  color: #353940;
}

.getStartedButton {
  position: relative;
  border-radius: 100px;
  z-index: 1;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-shadow: 0 1px 0 rgba(33, 45, 69, 0.25);
  letter-spacing: 0.01em;
  background-image: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
  border: none;

  &:focus {
    background-image: linear-gradient(270deg, #00dbd8, #b133ff);
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    border-radius: 100px;
    transition: opacity 0.2s ease-out;
    background-image: linear-gradient(270deg, #00dbd8, #b133ff);
  }

  &:hover:not(:disabled)::before {
    opacity: 1;
  }

  @media (--md-scr) {
    padding: 12px 24px;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}
