.wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;

  ul {
    list-style-type: none;
  }

  @media (--xs-scr) {
    display: none;
  }
}

.getStartedButton {
  position: relative;
  border-radius: 100px;
  z-index: 1;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-shadow: 0 1px 0 rgb(33 45 69 / 25%);
  background-image: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
  border: none;

  &:focus {
    background-image: linear-gradient(270deg, #00dbd8, #b133ff);
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    border-radius: 100px;
    transition: opacity 0.2s ease-out;
    background-image: linear-gradient(270deg, #00dbd8, #b133ff);
  }

  &:hover:not(:disabled)::before {
    opacity: 1;
  }

  @media (--md-scr) {
    padding: 12px 24px;
    font-size: 14px;
  }
}
