/* Prevent mobile browsers from changing font-size */
* {
  text-size-adjust: none;
}

:root {
  --font-base: 'Tahoma', 'Arial', sans-serif;
  --font-mono: 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;
}
