.iframeContainer {
  height: 700px;
  overflow: hidden auto;
  margin: 40px 50px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen(mdMax) {
    margin: 40px 25px 0;
  }

  @media screen(smMax) {
    margin: 40px 50px 0;
  }

  @media screen(xsMax) {
    margin: 20px 50px 0;
  }

  iframe {
    margin-top: -32px;
  }
}
