.mobile {
  display: none !important;

  @media (--xs-scr) {
    display: initial !important;
  }
}

.desktop {
  display: initial !important;

  @media (--xs-scr) {
    display: none !important;
  }
}
