.placeholder {
  height: var(--layout-header-height);

  &.collapsed {
    height: var(--layout-header-height-collapsed);
  }

  @media (--xs-scr) {
    height: var(--layout-header-height-collapsed);
  }
}

.header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.container {
  height: var(--layout-header-height);
  width: auto;
  z-index: 3;
  position: relative;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  transition: height 0.2s linear;
  will-change: height;

  &.collapsed {
    height: var(--layout-header-height-collapsed);
  }

  @media (--md-scr) {
    padding: 0 15px;
  }

  @media (--xs-scr) {
    height: var(--layout-header-height-collapsed);
  }
}

.logoLink {
  @mixin active;

  &:hover {
    outline: none;
    opacity: 0.5;
  }
}

.logo {
  display: block;
  padding-top: 2px;
}

.alert {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  width: 100%;
  background-color: #dee;
  transition: 0.5s all;
  overflow: hidden;

  &.collapsed {
    height: 0;
    transform: translateY(-100%);
  }
}
