.title {
  font-family: var(--font-base);
  line-height: 45px;
  color: var(--color-gray-dark);
  margin: 0 auto;
}

.fade {
  &::before {
    @apply bg-gradient-to-l from-purple-100/80 to-transparent;

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 100%;

    @media screen(sm) {
      width: 100px;
    }
  }

  &::after {
    @apply bg-gradient-to-r from-purple-100/80 to-transparent;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 100%;

    @media screen(sm) {
      width: 100px;
    }
  }
}
