.wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #13adc7;
}

.container {
  margin: 0 auto;
  padding: 85px 15px 65px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;

  @media (--xs-scr) {
    padding: 20px 15px;
  }
}

.glyph {
  position: absolute;
  z-index: 0;
  width: 158px;
  height: auto;
  object-fit: contain;

  @media (--md-scr) {
    width: 110px;
  }

  @media (--xs-scr) {
    display: none;
  }

  &.topleft {
    top: -32px;
    left: 28px;
  }

  &.rightbottom {
    bottom: -60px;
    right: 28px;
  }
}

.title {
  @mixin h2-desktop;

  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.rssLink {
  @mixin h3-desktop;
  color: #fff;
  display: block;

  margin: 15px auto;
  text-align: center;

  a {
    color: inherit;
  }
}

.subscribeContainer {
  margin: 15px auto 0;
  max-width: 510px;
  border-radius: 8px;
  background-color: #fff;

  @media (--xs-scr) {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    min-height: auto;
  }
}
