.container {
  position: relative;
  margin: 50px -50px;
  padding: 0 50px;

  &.hasBg {
    padding: 0 50px 260px;
  }

  @media (--md-scr) {
    padding: 0 40px;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;

    &.hasBg {
      padding: 0 40px 260px;
    }
  }

  @media (--sm-scr) {
    margin: 0;
    padding: 20px 0;

    &.hasBg {
      margin: 0;
      padding: 20px 0;
    }
  }

  :global(.ReactCollapse--collapse) {
    transition: height 500ms;
  }
}

.header {
  display: flex;
}

.title {
  font-family: var(--font-brandon);
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;

  @media (--sm-scr) {
    font-size: 30px;
    line-height: 35px;
    cursor: pointer;

    &::after {
      content: '';
      position: relative;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 10px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 12px solid currentColor;
      transition: transform 200ms;
    }

    &.isContentVisible::after {
      transform: rotate(-180deg);
    }
  }
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px 10px 0 0;
}

.description {
  max-width: 600px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray);

  @media (--sm-scr) {
    display: none;
  }

  &.mobile {
    display: none;

    @media (--sm-scr) {
      display: block;
    }
  }
}

.picture {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  width: 1100px;
  height: 450px;
  margin-left: -550px;

  @media (--sm-scr) {
    display: none;
  }
}
