.container {
  @apply w-full;

  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--layout-width);

  &.wide {
    max-width: var(--layout-width-wide);
  }

  @media screen(mdMax) {
    max-width: 100%;
  }

  @media screen(xsMax) {
    padding: 0 31px;
  }
}
