.highlightedText {
  border-bottom: 1px black dotted;
}

.modalBackground {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.closeContainer {
  float: right;
  margin: 2px 10px 0 0;
}

.closeLine {
  position: absolute;
  height: 23px;
  width: 2px;
  background-color: black;

  &.first {
    transform: rotate(-45deg);
  }

  &.second {
    transform: rotate(45deg);
  }
}

.modalContent {
  width: 80%;
  padding: 8px 10px;
  border: 1px solid var(--color-light-blue);
  border-radius: 3px;
  background-color: #fff;
}

.modalHeader {
  font-size: 1.3em;
  font-weight: bold;
}
