name: Check Deployment
on:
  pull_request:
  issue_comment:
    types: [created, edited]

jobs:
  check-branches:
    if:
      startsWith(github.head_ref, 'renovate/') || contains(github.head_ref,
      'no-deploy')
    runs-on: ubuntu-latest
    steps:
      - uses: khan/pull-request-comment-trigger@v1.1.0
        id: check
        with:
          trigger: '#pass-ci'
          reaction: rocket
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Fail if not triggred
        if: steps.check.outputs.triggered != 'true'
        run: exit 1
      - name: Exit gracefully
        if: steps.check.outputs.triggered == 'true'
        run: 'echo CI passed'
