name: DVC Download Link Check

on:
  deployment_status:

jobs:
  run:
    name: Initialize
    runs-on: ubuntu-latest
    if:
      github.event.deployment.ref != 'main' &&
      github.event.deployment_status.state == 'success'
    steps:
      - uses: actions/checkout@v4
      - name: Download Link Checker
        uses: lycheeverse/lychee-action@v2.4.1
        with:
          args:
            --verbose "${{ github.event.deployment.payload.web_url }}" --base
            "${{ github.event.deployment.payload.web_url }}" --include
            /download/
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
