name: Check new links against deployment
on:
  deployment_status:
jobs:
  run:
    if:
      github.event.deployment.ref != ${{ github.event.repository.default_branch }} &&
      github.event.deployment_status.state == 'success'
    uses: iterative/link-check/.github/workflows/link-check-deployment-status.yml@v0.13.2
