name: 'Linting and Testing'

on: pull_request

concurrency:
  group: lint-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: 'Run Tests'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install Node.js and use yarn
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'yarn'

      - name: Install All Dependencies
        run: yarn

      - name: Lint and fix all changed files
        run: yarn lint-staged --no-stash --diff "origin/main...HEAD"

      - name: Commit and push changes
        id: commit
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A
          git commit -m "Fix unlinted files" --no-verify
          git push
